[submodule "Kubenetics-cluster/todo-app/jenkins-agent/workspace/todo-agent"]
	path = Kubenetics-cluster/todo-app/jenkins-agent/workspace/todo-agent
	url = https://github.com/Anand-cmd-art/todo-agent.git
